@charset "UTF-8";

body {
  margin: 0;
  background-color: rgba(0,140,105,0.3);
}

.centraliza-topo {
  background-image: url(imagem/fundo-topo.png);
  width: 100%;
  border-bottom: 4px solid #fff;
  height: 190px;
}

.topo {
  margin: 0 auto;
  width: 60%;
  height: 190px;

}.logotipo {

  width: 230px;
  height: 110px;
  position: relative;
  top: 30px;
  left: -1%;

}

.redes-sociais {

  position: relative;
  width: 45px;
  height: 105px;
  float: right;
  background: url('imagem/fundo-redes-sociais.png') no-repeat;
}.redes-sociais:hover {
  transform: scaleX(1.1);

}

.corrige-img   {
  width: 26px;
  height: 26px;
  position: relative;
  top: 40px;
  left: 10px;
  opacity: 0.2;

}.redes-sociais img:hover {
  opacity: 1;
  cursor: pointer;
  opacity: 0.6;
}

.menu {
  float: right;
  clear: both;
  position: relative;
  top: 30px;


}
.menu ul {

}
.menu ul li {
  display: inline-block;
  padding: 5px;
}
.menu ul  a li{
  color: #fff;
  text-decoration: none;
  font-family: "Electrolize" ;
  font-size: 16px;
  font-style: italic;
}
.menu ul  a li:hover {
  text-shadow: 2px 2px 2px #333;
}

.unhas-destaque {
  text-align: center;

  width: 100%;
  height: 332px;
  background-image: url(imagem/fundo-unhas.png);
  border-bottom: : 4px solid #fff;

}
.unhas-destaque > h1 {
  width: 200px;
  position: relative;
  left: 20%;
  margin: 0;
  font-family: "Pacifico","arial", sans-serif;
  font-size: 25px;
  color: #fff;
  clear: both;
}

.blocosDeUnhas {
  margin-right: 30px;
  position: relative;
  display: inline-block;
  top:15px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 20px #666;

}

.blocosDeUnhas img {
  cursor: pointer;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  width: 229px;
  height: 229px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50% ;
  padding: 5px;
  transition: width 2s, height 4s, transform 8s;

}

.blocosDeUnhas img:hover {
  filter: grayscale(0%);
  transform:: scale(1.8);
  height: 250px;
  width: 250px;
  transform:rotate(360deg);
  ease-in-out;
  -webkit-transition:-webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  border-radius: 0%;
  border: 5px dashed #fff;
  box-shadow: 23px 23px 200px #fff;
  position: relative;
  left: -20px;
  top: -10px;

}

.fundo-meioDoSite {
  width: 100%;
  margin: 0;
  background-image: url('imagem/fundo-parceiros.png');
}

.centraliza {
  margin: 0 auto;
  width: 60%;
  height: 400px;

}

.quem-sou-eu {

  box-shadow: 0px 0px 20px  #666;
  display: inline-block;
  position: relative;
  width: 35%;
  height: 330px;
  background-color: #fff;
  border: 5px solid #7FC5BC;
  left: -3%;
  top: 20px;
  text-align: justify;
  float: left;
  background-image: url('imagem/fundo-quemsoueu.png');
}
.quem-sou-eu h1 {
  color: #FAAFAF;
  font-family: "Californian FB";
  font-size: 22px;
  margin-top: 10px;
  margin-left: 10px;
}

.quem-sou-eu p {
  position: relative;
  left: 4%;
  font-family: "Electrolize";
  line-height: 18px;
  width: 90%;
  color: #535353;
  font-size: 14px;
}
.quem-sou-eu p::first-letter {
  font-size: 20px;
  margin-left: 10px;
  font-weight: lighter;
}
.quem-sou-eu cite {
  float: right;
  color: #cba;
  margin-top: -8px;
  margin-right: 10px;
}
.quem-sou-eu:hover {
  transition: transform .3s ease-in-out;
  transform: scale(1.02);
  box-shadow: 0px 0px 20px  #333;
}

.parceiros {
  position: relative;
  top:20px;
  float: right;
  width: 60%;
  height: 330px;


}


.parceiros > h1 {
  color: #fff;
  margin: 0 10px;
  font-family: "Pacifico","arial", sans-serif;

}

form[name="parceiro"] input{
  width: 80%;
  height: 20px;
  background: #eee;
  border: 1px solid #ccc;
  color: #000;
}

input[name="email"] {
  position: relative;
  left: 30px;
}

input:focus, textarea:focus {
  background: #fc5c71;
  opacity: 0.8;
}

form[name="parceiro"] textarea {
  width: 98%;
}

form[name="parceiro"] fieldset {
  border: 3px dashed #fff;
  box-shadow: 1px 1px 30px #fff;
  height: 260px;
  font-family: "Electrolize";
  color: #fff;
  text-shadow: 1px 1px 3px #333;

}

form[name="parceiro"] label {
  font-family: "Pacifico";
  font-size: 0.7em;
  font-weight: normal;
  color: #333;
  text-shadow: 1px 1px 3px #eee;
}
@media (max-width:900px){
  .unhas-destaque {
    max-width: 900px;
  }
}
